{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-dark text-white">
                <h3 class="card-title mb-0"><i class="bi bi-pencil-square"></i> {{ title }}</h3>
            </div>
            <div class="card-body p-4">
                <form method="post" novalidate>
                    {{ form.hidden_tag() }} {{ render_field(form.major_name) }}
                    <hr>
                    <div class="d-flex justify-content-end">
                        <a href="{{ url_for('main.manage_majors') }}" class="btn btn-secondary me-2">
                            <i class="bi bi-x-circle"></i> 取消
                        </a>
                        {{ form.submit(class="btn btn-success") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}